@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  font-family: 'Press Start 2P' !important
}
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  image-rendering: pixelated;
}
